################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteDesignTemplate/.vs/SiteDesignTemplate
